
<header>
    <div class="header_container">
        <nav class="menu">
            <ul class="container-large">
                <li><a href="restaurant.html">Le restaurant</a></li>
                <li><a href="carte.html">La carte</a></li>
                <li><a href="bar-tapas.html">Bar tapas</a></li>
                <li><a href="work-cafe.html">Work Café</a></li>
                <li><a href="index.html"><img class="logo" src="img/logo-ermitage.png" alt="Logo de l'Ermitage"></a></li>
                <li><a href="a-emporter.html">A emporter</a></li>
                <li><a href="reservation.html">Réservation</a></li>
                <li><a href="actualites.html">Nos actualités</a></li>
                <li><a href="contact.html">Contactez-nous</a></li>
            </ul>
        </nav>
        <div class="menu-burger">
            <input type="checkbox" id="checkbox-2" />
            <label for="checkbox-2">
                <a href=""><img class="logo" src="img/logo-ermitage.png" alt="Logo de l'Ermitage"></a>
                <div class="menu-burger-closed">
                    <div class="barre-classique-1"></div>
                    <div class="barre-classique-2"></div>
                    <div class="barre-classique-3"></div>
                </div>
            </label>
            <nav class="menu-bis">
                <input type="checkbox" id="checkbox-2" />
                <label for="checkbox-2">
                    <div id="logo-burger">
                        <a href="index.html">
                            <img class="logo" src="img/logo-ermitage.png" alt="Logo de l'Ermitage">
                        </a>
                    </div>
                    <div class="menu-burger-open">
                        <div class="barre-1"></div>
                        <div class="barre-2"></div>
                        <div class="barre-3"></div>
                    </div>
                </label>
                <div class="item-menu-burger">
                    <div class="item-col1">
                        <ul>
                            <li><a href="restaurant.html">Le restaurant</a></li>
                            <li><a href="carte.html">La carte</a></li>
                            <li><a href="bar-tapas.html">Bar tapas</a></li>
                            <li><a href="work-cafe.html">Work Café</a></li>
                            <li><a href="a-emporter.html">A emporter</a></li>
                            <li><a href="reservation.html">Réservation</a></li>
                            <li><a href="actualites.html">Nos actualités</a></li>
                            <li><a href="contact.html">Contactez-nous</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</header>