:root{
    --main-color: #efba46;
    --second-color: #303030;
    --color-text: #000000;
    --color-white: #FFFFFF;
    --shadow: 5px 5px 30px #efba4640;
    --form: #333;
    --font-title: 'Catamaran', sans-serif;
    --font-text: 'Montserrat', sans-serif;
    --size-h1: 3rem;
    --size-h2: 2.5rem;
    --size-h3: 1.8rem;
    --size-h4: 1.4rem;
    --size-h5: 1.3rem;
    --size-text: 1rem;
}

* {
    box-sizing: content-box;
    margin: 0;
    padding: 0;
}
  
a {
    text-decoration: none;
    color: inherit;
    font-weight: bold;
    transition: 0.3s ease;
    font-family: var(--font-title);
    color: var(--color-text);
}

a:hover {
    color: var(--main-color) !important;
}

li {
    list-style-type: none;
}

p, a, label, input {
    font-size: var(--size-text);
    line-height: 1.7em;
}

h1, h2, h3, h4, h5 {
    font-family: var(--font-title);
    color: var(--color-text)
}

p, li, span, label, input, textarea {
    font-family: var(--font-text);
}

h1 {
    font-size: var(--size-h1);
}

h2 {
    font-size: var(--size-h2);
}

h3 {
    font-size: var(--size-h3);
}

h4 {
    font-size: var(--size-h4);
}

h5 {
    font-size: var(--size-h5);
}


@media (max-width:900px) {
    h1 {
        font-size: calc( var(--size-h1) / 1.5 );
    }
    h2 {
        font-size: calc( var(--size-h2) / 1.5 );
    }
    h3 {
        font-size: calc( var(--size-h3) / 1.5);    }
    h4 {
        font-size: calc( var(--size-h4) / 1.5 );
    }
}

