{% extends 'baseAdmin.html.twig' %}

{% block title %}admin{% endblock %}

{% block body %}
    {{ include('_includes/backOffice/_navigation.html.twig') }}
    <section class="section-content">
        <div class="content">
            <div class="content-form">
                <h1>WELCOME</h1>
            </div>
        </div>
    </section>
{% endblock %}
