
    <h1>edit new Categories</h1>
    {{ form_start(form, {'attr':{'id':'editcategorie'}}) }}
    {{ form_widget(form) }}
    <button  id="categorieSubmit"class="btn">{{ button_label|default('Enregistrer') }}</button>
    {{ form_end(form) }}


